<%= map(:center => {
    :latlng => [53.5, -1.2],
    :zoom => 8
  },
  :markers => @markers
)%>
<div class="map__controls">
  <div class="map__control map__control--github">
    <%= link_to 'https://github.com/czmj/cyclespoons', :title => 'View on GitHub' do %>
      <%= image_tag('github.png', :alt => 'View on GitHub') %>
    <% end %>
  </div>
  <div class="map__control map__control--strava">
    <% if @encodedRoutes %>
      <%= image_tag('strava-square.png', :alt => 'Strava') %>

      <div class="map__control--strava__toggles">
        <%= button_tag :class => 'btn map__control--strava__toggle js-toggle-routes', :data => {:routes => @encodedRoutes}, :title => 'Toggle Routes' do %>
          <i class="fa fa-flag-checkered" aria-hidden="true"></i>
          <span class="visually-hidden">Toggle routes</span>
        <% end %>
      </div>
    <% else %>
      <%= link_to "https://www.strava.com/oauth/authorize?client_id=#{ENV['STRAVA_CLIENT_ID']}&response_type=code&redirect_uri=#{request.protocol + request.host_with_port}", :title => 'Connect to Strava' do %>
        <%= image_tag('strava api logos/btn_strava_connectwith_orange.png', :alt => 'Connect to Strava') %>
      <% end %>
    <% end %>
  </div>
</div>