<%= map(:center => {
    :latlng => [53.5, -1.2],
    :zoom => 8
  },
  :markers => @markers
)%>

<div class="map__controls">
  <div class="map__control map__control--github">
    <%= link_to 'https://github.com/czmj/cyclespoons', :title => 'View on GitHub', :class => 'btn btn--github' do %>
      <%= image_tag('github.png', :alt => 'View on GitHub') %>
    <% end %>
  </div>
  <div class="map__control map__control--strava">
    <%= link_to "https://www.strava.com/oauth/authorize?client_id=#{ENV['STRAVA_CLIENT_ID']}&response_type=code&redirect_uri=#{request.host_with_port}", :title => 'Connect to Strava', :class => 'btn btn--strava' do %>
      <%= image_tag('strava-square.png', :alt => 'Connect to Strava') %>
    <% end %>
  </div>
</div>